
<div class="card">
  {{#each blogs as |blog|}}
  <a class="card" href="/blog/{{blog.id}}" >
    <h5 class="card-header"> Title: {{blog.title}} </h5>
    <div class="card-body">
      <h5 class="card-title">{{blog.user_name}}</h5>
      <p class="card-text">{{blog.contents}}</p>
      <p>{{ format_date createdAt}}</p>
      {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
  </a>
  {{/each}}
</div>
