
<div class="card">
  {{#each blogs as |blog|}}
  <a href="/blog/{{blog.id}}" >
    <div class="single-card">
      <h5 class="card-header">{{blog.title}} </h5>
      <div class="card-body">
        <h5 class="card-title">{{blog.user_name}}</h5>
        <p class="card-text">{{blog.contents}}</p>
        <p> Blog Posted: {{ format_date createdAt}}</p>
      </div>
    </div>
  </a>
  {{/each}}
</div>
