<div class="card">
    <h5 class="card-header">{{blog.title}}</h5>
    <div class="card-body">
      
      <p class="card-text">{{blog.contents}}</p>
      <h5 class="card-title"> Left by: {{blog.user.user_name}}</h5>
{{#if loggedIn}}
<form id="commentBar">
  <div class="form-group">
    <label for="commentBar">Leave a Comment</label>
    <input type="text" class="form-control" id="commentText" placeholder="Comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}
  </div>
  </div>

  <div class="card">
    <h5 class="card-header">Comments</h5>
    <div class="card-body">
      {{#each comments as |comment|}}
      <ul>
        <li>'{{comment.comment}}' on {{ format_date comment.createdAt}} </li>
      </ul>
      {{/each}}
      
    </div>
  </div>
  <script src="/js/comments.js"></script>