<div class="card">
    <h5 class="card-header">{{blog.title}} {{createdAt}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{blog.user_name}}</h5>
      <p class="card-text">{{blog.contents}}</p>
  <div class="form-outline mb-4">
    <input type="text" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Leave a comment</label>
  </div>
  </div>
  </div>

  <div class="card">
    <h5 class="card-header">Comments</h5>
    <div class="card-body">

      {{#each comments as |comment|}}
      <ul>
        <li>'{{comment.comment}}' on {{comment.createdAt}} </li>
      </ul>
      {{/each}}
      
  </div>
  </div>