<div class="single-container">
  <div class="commentpage-container">
      <h5 class="card-header">{{blog.title}}</h5>
      <div class="card-body">
        
        <p class="card-text">{{blog.contents}}</p> <br>
        <h5 class="card-title"> Posted by: {{blog.user.user_name}}</h5> <br> <br> <br> <br>
  {{#if loggedIn}}
  <form id="commentBar">
    <div class="form-group">
      <label for="commentBar">Leave a Comment</label> <br> 
      <input type="text" class="form-control" id="commentText" placeholder="Comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/if}}
    </div>
    </div>

    <div class="comment-container">
      <h5 class="card-header">Comments About this post</h5>
      <div class="card-body">
        {{#each comments as |comment|}}
        <ul>
          <p>'{{comment.comment}}' on {{ format_date comment.createdAt}} </p>
        </ul>
        {{/each}}
        
      </div>
    </div>
  </div>
  <script src="/js/comments.js"></script>